# Render uchun muhit o'zgaruvchilari — bu faylni Render dashboard ga kiriting
# .env faylini GitHub ga YUKLAMANG — faqat bu yerda ko'rsatilgan

# Bot token (@BotFather dan)
BOT_TOKEN=8983534361:AAHSyvU0syOPv-AUvZz1ZveWcI7XJAt-fHc

# Admin ID lar
ADMIN_ID_1=5725671264
ADMIN_ID_2=642479837

# DB va PDF
DB_PATH=certificate_bot.db
PDF_FILENAME=ijoza_malumotlar.pdf
