# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Database (lokal)
*.sqlite3

# Environment variables (SECRET!)
.env

# PDF fayllar
*.pdf

# Log fayllar
*.log

# OS fayllar
.DS_Store
Thumbs.db
